#main-sticky{
    float: right;
    position: relative;
    top: 18vh;
    right: 2vw;
    height: 2550px;

}

#stickybox{
    
    border-radius: 2%;
    padding-top: 17px;
    padding-left:10px ;
    background-color: rgb(223, 209, 209);
    box-sizing: border-box;
    width: 27vw;
    height: 175px;
    font-size: 1.03rem;
    /* text-align: center; */
    float: right;
    position: sticky;
    top: 12vh;
    right: 13vw;

}